<%- include ('../../../Basic_content/htmlhead') %>
    <%- include ('../../../Basic_content/htmlBody') %>

        <div class="projectPage">
            <%- include ('../../../Basic_content/projectBar') %>
                <div class="projectContent">
                    <h2 class="todoListHeading">Reset your Password <%= user.username %>
                    </h2>
                    <div class="forgotPwd">
                        <form action="/project/todoList/newPassword/<%=user.username %> " method="post">
                            <div class="forgorPwdLinks">
                                <label for="pass">Enter Your Password</label>
                                <input type="password" id="pass" name="newPass">
                            </div>
                            <button>Submit</button>
                        </form>
                    </div>

                </div>
                <%- include ('../../../Basic_content/htmlTail') %>